<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>  
  <packageSources>  
	   <!-- <add key="http_proxy" value="53.88.72.33:3128" /> -->
       <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />  
       <add key="nuget.org" value="https://www.nuget.org/api/v2/" />  
       <add key="Local" value="C:\Users\SUMOHAP\Documents\Nuget Packages\" />  
  </packageSources>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
</configuration>